#title{
  background-color: #ff4c68;
}

body{
  font-family: "Montserrat";
  text-align: center;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat";
  font-weight: bold;
}

h2{
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

p{
  color: #8f8f8f;
}


.big-heading{
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
  color: #fff;
}


.container-fluid{
  padding: 3% 15% 7%;
}

/* navbar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 15px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: lighter;
}


/* buttons */

.contact-button{
  margin: 5% 3% 5% 0;
}


/* image */

.alex-img{
  transform: rotate(5deg);
  max-width: 80%;
  position: absolute;
  right: 2%;
}


/* features */

#features{
  padding: 7% 15%;
  background-color: #faf4f4;
  position: relative;
  z-index: 1;
}

.feature-title{
  font-weight: bold;
  font-size: 2rem;
}

.feature-box{
  color: black;
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1.5rem;
}

.icon:hover{
  color: #ff4c68;
}



/* testimonial */

#testimonials{
  background-color: #ff7272;
  color: #fff;
}

.testimonial-img{
  width:25%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text{
  font-size: 3rem;
  height: 1.5;
}

.names{
  font-size: 2rem;
}

.carousel-item{
  padding: 7% 15%;
}

/* pricing */
#pricing{
  color: #000;
  padding: 100px;
  background-color: #faf4f4;
}

.section-heading{
  font-size: 3rem;
  height: 1.5;
}

.pricing-col{
 padding: 3% 2%;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}


/* foorter */
#cta{
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
}


#footer{
  padding: 7% 15%;
  background-color: #ffffff;
  font-family: "Montserrat";
}

.footer-img{
  margin: 20px 10px;
  color: #ef8172;
}




@media (max-width: 1312px) {
  .alex-img{
    position: static;
    transform: rotate(0);
  }
  .title{
    text-align: center;
  }
}
