{% extends "home/header-footer.html" %}
{% load staticfiles %}

  {% block extra-header %}
    <link rel="stylesheet" href="{% static "home/css/style.css" %}">
  {% endblock %}      

      {% block content %}
      <div class="container-fluid" style="height:64vh; align-items: center; display:flex">
        {% if user.is_authenticated %}
          <div>
            <p><span>Logged in as {{ user.username }}</span>
            <span style="padding-left: 2%;"><a href={% url 'logout' %}><button class="btn btn-dark btn-mb">Logout</button></a></span>
            </p>
            {% if plan == "paid-plan" %}
              <div>
                <h2>Mail your picture to replicate the picture as an anime!</h2>
                <p>Thanking you for choosing our plan. Proceed by paying first and then mailing your picture.</p>
                <br>
                <div class='pm-button'>
                  <span><a href='https://www.payumoney.com/paybypayumoney/#/6881E157410B544837FCAA46D9C3CABD'><img src='https://www.payumoney.com/media/images/payby_payumoney/new_buttons/12.png'></a></span>
                  <span  style="padding-left:2%"><button type="button"  onclick="window.location.href = 'mailto:{{ mailid }}';" class="btn btn-outline-dark btn-lg"><i class="far fa-envelope-open"></i> e-Mail</button></span>
                </div>
              </div>
            {% elif plan == "free-plan" %}
              <div>
                <h2>Mail your picture to replicate the picture as an anime!</h2>
                <button type="button"  onclick="window.location.href = 'mailto:{{ mailid }}';" class="btn btn-outline-dark btn-lg "><i class="far fa-envelope-open"></i> e-Mail</button>
              </div>
            {% endif %}
          </div>
        {% else %}
          <div>
            <h2>Click to login and mail your picture to create your anime !!</h2>
            <a class="btn btn-dark btn-lg contact-button" href="{% url 'social:begin' 'google-oauth2'%}">Login</a>
          </div>
        {% endif %}
        </div>
      {% endblock %}