.container-fluid.form_div{
    background-color: #ff4c68;
    padding: 2% 0%;
}
.container-fluid.reviewlist{
    background-color: #f8f8f8;
}
.card{
    border: none; 
    background-color: #f8f8f8;
}
.card .card-body{
    padding: 0px;
}

input{
    border-radius: 5px;
    margin-top: 1.5rem;
    /* margin-right: 15.5rem; */
    padding: 1%;
    outline: none;
}

input[type="submit"]{
    border-radius: 5px;
    margin-top: 1.5rem;
    /* margin-left: 23.75rem; */
    /* padding: 1%; */
    outline: none;
}

textarea{
    border-radius: 5px;
    margin-top: 1.5rem;   
    padding: 1%;
    outline: none;
}